.mylist_card{
    display: flex;
    padding-top: 180px;
    margin-left: 50px;
}
.mylist_card img{
    padding-left: 20px;
    width: 70%;
}
.mylist_card h1{
    font-size: 20px;
    /* padding-bottom: 50px; */
}
.mylist_button button{
 width: 10%;
 height: 10%;
}
.mylist_button {
    display: flex;
}