.reg_footer{
    background-color:#f3f3f3;
    /* width: 1519px; */
    height: auto;
    padding: 10px 76px;
    
}

.reg_footer .reg_data p:first-child{
    margin-bottom: 1;
    font-size: 16px;
}
.reg_footer .reg_data p{
    font-size: 13px;
    color: #ffffff;
    opacity: 70%;
    margin-bottom: 18px;
    font-weight: 400;
    color: black;
}
.reg_footer .reg_data p .nm{
    text-decoration: underline;
}

.reg_footer .reg_links{
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.select_lang1{
    position: relative;
  }
.lang svg{
    position: absolute;
    top: 1rem;
    left: 1%;
  }
  .drop{
    width: 128px;
    height: 48px;
    font-size: 16px;
    /* border-radius: 5px; */
    margin-right: 24px;
    padding: 10px 20px ;
    font-weight: 600;
    text-align: center;
    /* background: transparent; */
    background-color: #ffffff;
    color:#737373;
    margin: 10px 0;
    border: 2px solid rgb(176, 176, 176);
  }

@media(max-width:1260px){

}
@media(max-width:960px){

    .reg_footer .reg_links{
        grid-template-columns: repeat(4, 0.4fr);
    }
}
@media(max-width:741px){

    .reg_footer .reg_links{
        grid-template-columns: repeat(3, 0.6fr);
    }
}
@media(max-width:500px){
    .reg_footer{
       
        padding: 30px 16px;
    }
    .reg_footer .reg_links{
        grid-template-columns: repeat(2, 1fr);
    }
}